.myborder {
    width: 50%;
    border : 2px;
    border-color: gray;
    background-color:rgb(37, 36, 36);
    border-style:solid;
    margin: 200px 400px 300px 500px;
    padding : 200px 10px 200px 0px;
}
.header {
    width: 26%;
    border: 2px;
    border-color: black;
    border-style:solid;
    background-color: white;
    margin : 15px 20px 5px 400px;
    padding: 0% 15% 1% 1%;
    font-family: cursive;
    font-size:32px;
    background-image: url("https://raw.githubusercontent.com/breatheco-de/exercise-postcard/refs/heads/main/.learn/assets/4geeks.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 12%;
}
.body {
    font-size: 20px;
}    
.footer {
  font-family: cursive;
  text-align: center;
  font-size: 40px;
}
