.myborder {
    width: 50%;
    border : 2px;
    border-color: gray;
    background-color:rgb(37, 36, 36);
    border-style:solid;
    margin: 150px 400px 300px 500px;
    padding : 200px 50px 200px 100px;
}
.header {
    width: 25%;
    border: 2px;
    border-color: black;
    border-style:solid;
    background-color: white;
    margin : 15px 20px 5px 270px;
    padding: 0% 25% 1% 5%;
    font-family: cursive;git 
    font-size:30px;
}
.body {
    font-size: 20px;
}    
.footer {
  font-family: cursive;
  text-align: center;
  font-size: 20px;
}
.Logo {
    text-align:center;
}