.header {
    width: 500px;
    height: 50px;
*    border:2px solid;
    background-color: white;
    display:flex;
}
.font{
    font-family: cursive;
    font-size: 25px;
    font-style: normal;
}
.image {
    position:relative;
    top: 10px;
    left: 280px;
}
.body {
    width: 500px;
    height: 300px;
    border: 2px solid;
    display: flex;
}
.body-right {
    position:relative;
    top: 10px;
    left: 200px;
}